@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html {
  background-image: url('/imagenes/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background-color: orange;
  margin: 0 auto;
  max-width: 1100px;
}

header {
  background-image: url('/imagenes/prueba.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem;
}

header h1 {
  color: white;
}
header ul {
  list-style: none;
  padding: 0;
  order: -1;
}

header ul li a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}
header button {
  border: none;
}

header button a {
  background: black;
  text-decoration: none;
  color: white;
  padding: 0.2rem 1rem;
}

main {
  padding: 1rem;
}
main h2 {
  color: white;
  padding: 1rem 0;
  font-size: 2rem;
}

main p {
  padding-bottom: 2rem;
}

main ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main ul li {
  padding: 0 0.5rem;
}

main article {
  background: black;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
  max-width: 300px;
}
main article img {
  width: 100%;
  height: 200px;
}
main article h2 {
  font-size: 4rem;
}
main article p {
  padding: 0 1rem 1rem 2rem;
}

main article button {
  width: 100%;
  padding: 1rem;
}
main article button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer {
  background: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

footer h2 {
  color: orange;
  padding: 0.5rem 0 2rem 0;
}

footer form ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

footer form ul li {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 0;
}

li#letter {
  display: inline;
}

footer button {
  border: none;
}

footer button a {
  background: black;
  text-decoration: none;
  color: white;
  padding: 0.2rem 1rem;
}
li#nombre,
li#direction,
li#provincia {
  flex-basis: 50%;
}

li#coments {
  flex-basis: 100%;
}

input,
textarea,
select {
  background: orange;
  border: 2px solid black;
}

@media (min-width: 700px) {
  header {
    font-size: 2rem;
    min-height: 400px;
  }

  header ul {
    display: flex;
  }
  header ul li a {
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  main p.texto {
    columns: 2;
  }
  main ul {
    align-items: flex-start;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }

  footer {
    font-size: 1.5rem;
  }

  input,
  select {
    padding: 0.5rem;
  }
  textarea {
    padding: 2rem;
  }
}
